.split-layout {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.table-layout{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #DBF4AD;
}

.split-layout > div {
  flex-basis: 40%;
  height: 40%;
  width: 90%;
  box-sizing: border-box;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.first-space {
  background-color: red;
}

.second-space {
  background-color: blue;
}

.third-space {
  background-color: green;
}

.fourth-space {
  background-color: yellow;
  
}

body{
  background-color: rgba(255, 255, 0, 0.5);
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.contents-output{
  background-color: blue;
  margin-left: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.row-input{
  background-color: white;
  color: black;
  font-weight: bold;
  height: 80%;
  width: 95%;
}

.file-input{
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tooltip {
  pointer-events: none;
}
.tooltip > .tooltip-inner {
  pointer-events: none;
  background-color: #73AD21;
  color: #FFFFFF;
  border: 1px solid green;
  padding: 10px;
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  margin-left: 0;
  max-width: 1000px;
}
.tooltip > .arrow::before {
  border-right-color: white;
}

.animals li{ background-color: grey; }

#row-input{
  background-color: white;
  color: black;
  font-weight: bold;
  height: 90%;
  width: 95%;
}

#sidebar{
   margin-left: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#sidebar1{
  height: 50px;
  width: 50px;
   margin-left: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

